@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* font-family: 'Poppins', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
/* font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.01px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "robot", sans-serif;
  letter-spacing: 1px;
}

/* footer css */
.footer {
  color: white;
  padding: 25px;
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: solid 1px #ffefba;
}

/* page note found css */
.pnf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.pnf-title {
  font-size: 100px;
  font-weight: 800;
}

/* contect page */
.contect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.contect .left {
  margin-right: 10px;
}
.contect h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(36, 36, 36);
  color: wheat;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.contect img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.right {
  width: 500px;
}

/* register page */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
.register form {
  width: 40vw;
}

.product-link {
  text-decoration: none !important;
  color: black !important;
}
